h1 {
    color: blueviolet;
}
h2 {
    color: aqua;
}
h3 {
    color:rgb(10, 10, 170);
}
body {
    width: 70%;
    font-family: Arial, sans-serif;
    margin-top: 1.5em;
}
ol, table {
    border: 0.5px solid black;
}
figcaption {
    font-style: italic;
}
img {
    float: right;
}

